* {
  border: none;
  border-radius: 8px;
  min-height: 0;
  font-family: FiraCode Nerd Font;
  font-size: 12.5px;
  font-weight: 600; 
}

window#waybar {
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  all: initial;
  /* Remove GTK theme values (waybar #1351) */
  min-width: 0;
  /* Fix weird spacing in materia (waybar #450) */
  box-shadow: inset 0 -3px transparent;
  /* Use box-shadow instead of border so the text isn't offset */
  padding: 4px 15px;
  margin: 6px 3px;
  border-radius: 8px;
  background-color: #1e1e2e;
  color: #cdd6f4;
}

#workspaces button.active {
  color: rgba(137, 135, 255, 1);
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: #1e1e2e;
  background-color: #cdd6f4;
}

#cpu,
#wireplumber,
#backlight,
#memory {
  border-radius: 0px;
  margin: 4px 0px;
  padding: 6px 10px;
  color: #cdd6f4;
  background-color: #1e1e2e;
  min-width: 50px; /* may need adjustment if adding additional modules */
}
#cpu {
  margin-left: -2px;
  margin-right: -2px
}

/* overrides radius set above for raounded seamless bar illusion */
#memory {
  border-radius: 8px 0px 0px 8px;
}
#wireplumber {
  border-radius: 0px 8px 8px 0px;
  margin-right: 4px;
  margin-left: -4px; /* needed to hide gap (omega scuffed) */
}

#tray {
  padding-right: 8px;
}

#custom-logo {
  padding-right: 7px;
  padding-left: 7px;
  margin-left: 5px;
  font-size: 15.5px;
  border-radius: 8px 0px 0px 8px;
  color: #bd6ade;
}

#clock {
  background-color: #1e1e2e;
  border-radius: 8px;
  padding: 6px 10px;
  margin: 4px;
}

tooltip, tooltip label {
  padding: 0px;
  background-color: #1e1e2e;
}

